USE [master]
GO
/****** Object:  Database [SellOTOP5929]    Script Date: 25/2/2562 2:20:31 ******/
CREATE DATABASE [SellOTOP5929]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SellOTOP5929', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\SellOTOP5929.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SellOTOP5929_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\SellOTOP5929_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SellOTOP5929].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SellOTOP5929]
GO
USE [SellOTOP5929]
GO
/****** Object:  Table [dbo].[Table_Product]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Product](
	[P_ProductID] [int] IDENTITY(1,1) NOT NULL,
	[P_ProName] [varchar](50) NULL,
	[P_Price] [int] NULL,
	[P_IMG] [image] NULL,
	[P_Amout] [int] NULL,
	[P_Type] [int] NULL,
 CONSTRAINT [PK_Table_Product] PRIMARY KEY CLUSTERED 
(
	[P_ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_TypeProduct]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_TypeProduct](
	[T_TypeProID] [int] IDENTITY(1,1) NOT NULL,
	[T_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Table_TypeProduct] PRIMARY KEY CLUSTERED 
(
	[T_TypeProID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Product]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Product]
AS
SELECT        dbo.Table_Product.P_ProductID, dbo.Table_Product.P_ProName, dbo.Table_Product.P_Price, dbo.Table_Product.P_IMG, dbo.Table_Product.P_Amout, dbo.Table_Product.P_Type, dbo.Table_TypeProduct.T_TypeProID, 
                         dbo.Table_TypeProduct.T_Name
FROM            dbo.Table_Product INNER JOIN
                         dbo.Table_TypeProduct ON dbo.Table_Product.P_Type = dbo.Table_TypeProduct.T_TypeProID
GO
/****** Object:  Table [dbo].[Table_TilieName]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_TilieName](
	[T_TItleID] [int] IDENTITY(1,1) NOT NULL,
	[T_TilName] [varchar](50) NULL,
 CONSTRAINT [PK_Table_TilieName] PRIMARY KEY CLUSTERED 
(
	[T_TItleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Role]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Role](
	[R_RoleID] [int] IDENTITY(1,1) NOT NULL,
	[R_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Table_Role] PRIMARY KEY CLUSTERED 
(
	[R_RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_User]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_User](
	[U_UserName] [varchar](30) NOT NULL,
	[U_PassWord] [varchar](30) NULL,
	[U_Tilie] [int] NULL,
	[U_Name] [varchar](30) NULL,
	[U_LastName] [varchar](30) NULL,
	[U_HBD] [varchar](15) NULL,
	[U_Phone] [varchar](10) NULL,
	[U_Address] [varchar](60) NULL,
	[U_Tampo] [varchar](60) NULL,
	[U_Amper] [varchar](60) NULL,
	[U_Province] [varchar](60) NULL,
	[U_Zipcode] [varchar](60) NULL,
	[U_Role] [int] NULL,
	[U_IMGUSER] [image] NULL,
 CONSTRAINT [PK_Table_User] PRIMARY KEY CLUSTERED 
(
	[U_UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_User]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_User]
AS
SELECT        dbo.Table_User.U_UserName, dbo.Table_User.U_Tilie, dbo.Table_TilieName.T_TItleID, dbo.Table_TilieName.T_TilName, dbo.Table_User.U_Name, dbo.Table_User.U_LastName, dbo.Table_User.U_HBD, 
                         dbo.Table_User.U_Phone, dbo.Table_User.U_Address, dbo.Table_User.U_Tampo, dbo.Table_User.U_Amper, dbo.Table_User.U_Province, dbo.Table_User.U_Zipcode, dbo.Table_User.U_Role, dbo.Table_Role.R_RoleID, 
                         dbo.Table_Role.R_Name
FROM            dbo.Table_Role INNER JOIN
                         dbo.Table_User ON dbo.Table_Role.R_RoleID = dbo.Table_User.U_Role INNER JOIN
                         dbo.Table_TilieName ON dbo.Table_User.U_Tilie = dbo.Table_TilieName.T_TItleID
GO
/****** Object:  Table [dbo].[Table_AddProduct]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_AddProduct](
	[A_AddProID] [int] IDENTITY(1,1) NOT NULL,
	[A_Product] [int] NULL,
	[A_amount] [int] NULL,
	[A_date] [varchar](15) NULL,
	[A_StatusAdd] [int] NULL,
 CONSTRAINT [PK_Table_AddProduct] PRIMARY KEY CLUSTERED 
(
	[A_AddProID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_AddPro]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_AddPro]
AS
SELECT        dbo.Table_AddProduct.A_AddProID, dbo.Table_AddProduct.A_Product, dbo.Table_Product.P_ProductID, dbo.Table_Product.P_ProName, dbo.Table_AddProduct.A_amount, dbo.Table_AddProduct.A_date, 
                         dbo.Table_AddProduct.A_StatusAdd, dbo.Table_Product.P_Price
FROM            dbo.Table_AddProduct INNER JOIN
                         dbo.Table_Product ON dbo.Table_AddProduct.A_Product = dbo.Table_Product.P_ProductID
GO
/****** Object:  Table [dbo].[Table_Oder]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Oder](
	[O_OderID] [int] IDENTITY(1,1) NOT NULL,
	[O_Date] [varchar](10) NULL,
	[O_User] [varchar](30) NULL,
	[O_Total] [int] NULL,
	[O_Status] [int] NULL,
	[O_IMGPAY] [image] NULL,
 CONSTRAINT [PK_Table_Oder] PRIMARY KEY CLUSTERED 
(
	[O_OderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_OderDetail]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_OderDetail](
	[OD_OrderDetail] [int] IDENTITY(1,1) NOT NULL,
	[OD_Oder] [int] NULL,
	[OD_Amount] [int] NULL,
	[OD_Product] [int] NULL,
 CONSTRAINT [PK_Table_OderDetail] PRIMARY KEY CLUSTERED 
(
	[OD_OrderDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_BayOr]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_BayOr]
AS
SELECT        dbo.Table_Oder.O_OderID, dbo.Table_Oder.O_Date, dbo.Table_Oder.O_User, dbo.Table_Oder.O_Total, dbo.Table_Oder.O_Status, dbo.Table_OderDetail.OD_OrderDetail, dbo.Table_OderDetail.OD_Oder, 
                         dbo.Table_OderDetail.OD_Amount, dbo.Table_OderDetail.OD_Product, dbo.Table_Product.P_ProductID, dbo.Table_Product.P_ProName, dbo.Table_Product.P_Price
FROM            dbo.Table_Oder INNER JOIN
                         dbo.Table_OderDetail ON dbo.Table_Oder.O_OderID = dbo.Table_OderDetail.OD_Oder INNER JOIN
                         dbo.Table_Product ON dbo.Table_OderDetail.OD_Product = dbo.Table_Product.P_ProductID
GO
/****** Object:  Table [dbo].[Table_StatusAdd]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_StatusAdd](
	[SA_SatatusID] [int] IDENTITY(1,1) NOT NULL,
	[SA_StaName] [varchar](50) NULL,
 CONSTRAINT [PK_Table_StatusAdd] PRIMARY KEY CLUSTERED 
(
	[SA_SatatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_StatusBay]    Script Date: 25/2/2562 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_StatusBay](
	[S_StatusID] [int] IDENTITY(1,1) NOT NULL,
	[S_StaName] [varchar](50) NULL,
 CONSTRAINT [PK_Table_StatusBay] PRIMARY KEY CLUSTERED 
(
	[S_StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table_AddProduct] ON 
GO
INSERT [dbo].[Table_AddProduct] ([A_AddProID], [A_Product], [A_amount], [A_date], [A_StatusAdd]) VALUES (2, 2, 20, N'2019-02-11', 2)
GO
INSERT [dbo].[Table_AddProduct] ([A_AddProID], [A_Product], [A_amount], [A_date], [A_StatusAdd]) VALUES (3, 2, 30, N'2019-02-07', 2)
GO
INSERT [dbo].[Table_AddProduct] ([A_AddProID], [A_Product], [A_amount], [A_date], [A_StatusAdd]) VALUES (4, 2, 20, N'2019-02-01', 2)
GO
SET IDENTITY_INSERT [dbo].[Table_AddProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Oder] ON 
GO
INSERT [dbo].[Table_Oder] ([O_OderID], [O_Date], [O_User], [O_Total], [O_Status], [O_IMGPAY]) VALUES (2, N'21/02/2562', N'tttt', 0, 2, NULL)
GO
SET IDENTITY_INSERT [dbo].[Table_Oder] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_OderDetail] ON 
GO
INSERT [dbo].[Table_OderDetail] ([OD_OrderDetail], [OD_Oder], [OD_Amount], [OD_Product]) VALUES (1, 1, 1, 1002)
GO
INSERT [dbo].[Table_OderDetail] ([OD_OrderDetail], [OD_Oder], [OD_Amount], [OD_Product]) VALUES (5, 1, 3, 1003)
GO
INSERT [dbo].[Table_OderDetail] ([OD_OrderDetail], [OD_Oder], [OD_Amount], [OD_Product]) VALUES (6, 1, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Table_OderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Product] ON 
GO
SET IDENTITY_INSERT [dbo].[Table_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Role] ON 
GO
INSERT [dbo].[Table_Role] ([R_RoleID], [R_Name]) VALUES (1, N'User')
GO
INSERT [dbo].[Table_Role] ([R_RoleID], [R_Name]) VALUES (2, N'Admin')
GO
SET IDENTITY_INSERT [dbo].[Table_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_StatusAdd] ON 
GO
INSERT [dbo].[Table_StatusAdd] ([SA_SatatusID], [SA_StaName]) VALUES (1, N'รอดำเนินการ')
GO
INSERT [dbo].[Table_StatusAdd] ([SA_SatatusID], [SA_StaName]) VALUES (2, N'ยืนเรียบร้อย')
GO
SET IDENTITY_INSERT [dbo].[Table_StatusAdd] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_StatusBay] ON 
GO
INSERT [dbo].[Table_StatusBay] ([S_StatusID], [S_StaName]) VALUES (1, N'รอการตรวจสอบ')
GO
INSERT [dbo].[Table_StatusBay] ([S_StatusID], [S_StaName]) VALUES (2, N'ยังไม่ได้ชำระเงิน')
GO
INSERT [dbo].[Table_StatusBay] ([S_StatusID], [S_StaName]) VALUES (3, N'ชำระเงินแล้ว')
GO
SET IDENTITY_INSERT [dbo].[Table_StatusBay] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_TilieName] ON 
GO
INSERT [dbo].[Table_TilieName] ([T_TItleID], [T_TilName]) VALUES (1, N'นางสาว')
GO
INSERT [dbo].[Table_TilieName] ([T_TItleID], [T_TilName]) VALUES (2, N'นาง')
GO
INSERT [dbo].[Table_TilieName] ([T_TItleID], [T_TilName]) VALUES (3, N'นาย')
GO
SET IDENTITY_INSERT [dbo].[Table_TilieName] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_TypeProduct] ON 
GO
INSERT [dbo].[Table_TypeProduct] ([T_TypeProID], [T_Name]) VALUES (1, N'การจัก')
GO
INSERT [dbo].[Table_TypeProduct] ([T_TypeProID], [T_Name]) VALUES (2, N'การสาน')
GO
INSERT [dbo].[Table_TypeProduct] ([T_TypeProID], [T_Name]) VALUES (3, N'การถัก')
GO
SET IDENTITY_INSERT [dbo].[Table_TypeProduct] OFF
GO
INSERT [dbo].[Table_User] ([U_UserName], [U_PassWord], [U_Tilie], [U_Name], [U_LastName], [U_HBD], [U_Phone], [U_Address], [U_Tampo], [U_Amper], [U_Province], [U_Zipcode], [U_Role], [U_IMGUSER]) VALUES (N'tttt', N'1111', 1, N'fdgfdg', N'dfgdfg', N'12/12/2540', N'0823225936', NULL, N'เมือง', N'เมือง', N'เมือง', NULL, 1, NULL)
GO
INSERT [dbo].[Table_User] ([U_UserName], [U_PassWord], [U_Tilie], [U_Name], [U_LastName], [U_HBD], [U_Phone], [U_Address], [U_Tampo], [U_Amper], [U_Province], [U_Zipcode], [U_Role], [U_IMGUSER]) VALUES (N'xxxx', N'123456', 8, N'xxxxx', N'ssssss', N'12/12/2540', N'0823225936', N'152/5', N'คุ้งกระถิน', N'เมืองราชบุรี', N'ราชบุรี', N'70000', 1, NULL)
GO
ALTER TABLE [dbo].[Table_AddProduct]  WITH CHECK ADD  CONSTRAINT [FK_Table_AddProduct_Table_Product] FOREIGN KEY([A_Product])
REFERENCES [dbo].[Table_Product] ([P_ProductID])
GO
ALTER TABLE [dbo].[Table_AddProduct] CHECK CONSTRAINT [FK_Table_AddProduct_Table_Product]
GO
ALTER TABLE [dbo].[Table_AddProduct]  WITH CHECK ADD  CONSTRAINT [FK_Table_AddProduct_Table_StatusAdd] FOREIGN KEY([A_StatusAdd])
REFERENCES [dbo].[Table_StatusAdd] ([SA_SatatusID])
GO
ALTER TABLE [dbo].[Table_AddProduct] CHECK CONSTRAINT [FK_Table_AddProduct_Table_StatusAdd]
GO
ALTER TABLE [dbo].[Table_Oder]  WITH CHECK ADD  CONSTRAINT [FK_Table_Oder_Table_StatusBay] FOREIGN KEY([O_Status])
REFERENCES [dbo].[Table_StatusBay] ([S_StatusID])
GO
ALTER TABLE [dbo].[Table_Oder] CHECK CONSTRAINT [FK_Table_Oder_Table_StatusBay]
GO
ALTER TABLE [dbo].[Table_Oder]  WITH CHECK ADD  CONSTRAINT [FK_Table_Oder_Table_User] FOREIGN KEY([O_User])
REFERENCES [dbo].[Table_User] ([U_UserName])
GO
ALTER TABLE [dbo].[Table_Oder] CHECK CONSTRAINT [FK_Table_Oder_Table_User]
GO
ALTER TABLE [dbo].[Table_OderDetail]  WITH CHECK ADD  CONSTRAINT [FK_Table_OderDetail_Table_Oder] FOREIGN KEY([OD_Oder])
REFERENCES [dbo].[Table_Oder] ([O_OderID])
GO
ALTER TABLE [dbo].[Table_OderDetail] CHECK CONSTRAINT [FK_Table_OderDetail_Table_Oder]
GO
ALTER TABLE [dbo].[Table_OderDetail]  WITH CHECK ADD  CONSTRAINT [FK_Table_OderDetail_Table_Product] FOREIGN KEY([OD_Product])
REFERENCES [dbo].[Table_Product] ([P_ProductID])
GO
ALTER TABLE [dbo].[Table_OderDetail] CHECK CONSTRAINT [FK_Table_OderDetail_Table_Product]
GO
ALTER TABLE [dbo].[Table_Product]  WITH CHECK ADD  CONSTRAINT [FK_Table_Product_Table_TypeProduct] FOREIGN KEY([P_Type])
REFERENCES [dbo].[Table_TypeProduct] ([T_TypeProID])
GO
ALTER TABLE [dbo].[Table_Product] CHECK CONSTRAINT [FK_Table_Product_Table_TypeProduct]
GO
ALTER TABLE [dbo].[Table_User]  WITH CHECK ADD  CONSTRAINT [FK_Table_User_Table_Role] FOREIGN KEY([U_Role])
REFERENCES [dbo].[Table_Role] ([R_RoleID])
GO
ALTER TABLE [dbo].[Table_User] CHECK CONSTRAINT [FK_Table_User_Table_Role]
GO
ALTER TABLE [dbo].[Table_User]  WITH CHECK ADD  CONSTRAINT [FK_Table_User_Table_TilieName] FOREIGN KEY([U_Tilie])
REFERENCES [dbo].[Table_TilieName] ([T_TItleID])
GO
ALTER TABLE [dbo].[Table_User] CHECK CONSTRAINT [FK_Table_User_Table_TilieName]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Table_AddProduct"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 186
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Table_Product"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 202
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_AddPro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_AddPro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[13] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Table_Oder"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 226
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Table_OderDetail"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 198
               Right = 417
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Table_Product"
            Begin Extent = 
               Top = 6
               Left = 455
               Bottom = 201
               Right = 625
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_BayOr'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_BayOr'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Table_Product"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 219
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Table_TypeProduct"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 102
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Product'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Product'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Table_Role"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Table_User"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 245
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "Table_TilieName"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 102
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_User'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_User'
GO
USE [master]
GO
