<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.0.0.228</MSDeployServiceURL>
    <DeployIisAppPath>Home/cs59/MVCT/cs29</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>student</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SellOTOP5929Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=10.0.0.228,1443;Initial Catalog=SellOTOP5929;User ID=student;Password=12345" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DomeSell.Models.SellOTOP5929Entities, DomeSell" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SellOTOP5929ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=10.0.0.228,1443;Initial Catalog=SellOTOP5929;User ID=student;Password=12345" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-8O45V40\SQLEXPRESS;Initial Catalog=SellOTOP5929;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SellOTOP5929ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-8O45V40\SQLEXPRESS;Initial Catalog=SellOTOP5929;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SellOTOP5929ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=10.0.0.228,1443;Initial Catalog=SellOTOP5929;User ID=student;Password=12345</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SellOTOP5929Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SellOTOP_MODEL.csdl|res://*/Models.SellOTOP_MODEL.ssdl|res://*/Models.SellOTOP_MODEL.msl;provider=System.Data.SqlClient;provider connection string="Data Source=10.0.0.228,1443;Initial Catalog=SellOTOP5929;User ID=student;Password=12345"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>